body
{
	background: #556B2F;
	color: #54FF9F;
	font-family: 'Indie Flower', cursive;
}


#rangoAdivina
	{
		border: 5px solid gray;
		background-color: lawngreen;
		border-radius: 20px;
		color: white;
		font-size: 30px;
		
		width: 40%;
		box-shadow: 10px 10px 30px black;
	}
	#adivina
	{
		border-radius: 10px;
		font-size: 30px;
		width: 40%;
		margin-top: 20px;
		text-align: center; 
	}
	#mensaje
	{
		color: #4682B4;
		font-size: 45px;
		margin-top: 20px;
	}

#intentos{
	width: 40%;
	height: 40px;
	background-color: #FF6A6A;
	margin-top:15px;
	padding: 10px 0px 0px 0px;
	font-size: 22px;
	font-weight: italic;	
	color:black;
	border-radius: 10px;
	box-shadow: 5px 5px 3px #000;
}
.boton{
	width: 40%;
	height: 40px;
	background-color: #FF6A6A;
	margin-top:15px;
	padding: 10px 0px 0px 0px;
	font-size: 22px;
	font-weight: bold;	
	color:black;
	border-radius: 10px;
	box-shadow: 5px 5px 3px #000;
	position: relative;
	cursor: pointer;
}
.boton:hover{
	top:2px;
	left: 4px;
	background-color: blue;
}


